<launch>
  <!-- True for simulation, false for real-time and bagfiles -->
  <param name="/use_sim_time" value="false"/>
  <arg name="enable_octomap" default="false"/>

  <group ns="prism">
    <!-- SLAM -->
    <node pkg="prism_slam"
          name="prism_slam"
          type="prism_slam_offline"
          output="screen">

      <!-- Bagfile parameters -->
      <param name="filename/bag" value="/Users/eanelson/Desktop/lbl_lidar.bag"/>
      <param name="scan_topic" value="/velodyne_points"/>

      <param name="time_start" value="120.0"/>
      <param name="time_end" value="-1.0"/>
      <param name="time_scale" value="-1.0"/>

      <!-- Initial pose -->
      <rosparam param="init">
        position: {x: 0.0, y: 0.0, z: 0.0}
        orientation: {roll: 0.0, pitch: 0.0, yaw: 0.0}
        position_sigma: {x: 0.1, y: 0.1, z: 0.1}
        orientation_sigma: {roll: 0.02, pitch: 0.02, yaw: 0.02}
      </rosparam>

      <!-- Rates -->
      <rosparam file="$(find prism_example)/config/prism_rates.yaml"/>

      <!-- Frames -->
      <rosparam file="$(find prism_example)/config/prism_frames.yaml"/>

      <!-- Point cloud filter -->
      <rosparam file="$(find point_cloud_filter)/config/parameters.yaml"/>

      <!-- Point cloud odometry -->
      <rosparam file="$(find point_cloud_odometry)/config/parameters.yaml"/>

      <!-- Loop closure -->
      <rosparam file="$(find laser_loop_closure)/config/parameters.yaml"/>

      <!-- Localization -->
      <rosparam file="$(find point_cloud_localization)/config/parameters.yaml"/>

      <!-- Mapper -->
      <rosparam file="$(find point_cloud_mapper)/config/parameters.yaml"/>
    </node>

    <group if="$(arg enable_octomap)">

      <!-- Octomap Server -->
      <node pkg="octomap_server"
        name="octomap_server"
        type="octomap_server_node"
        output="screen">

        <!-- Topics -->
        <remap from="cloud_in" to="/prism/prism_slam/base_frame_point_cloud"/>

        <!-- Octomap parameters -->
        <rosparam file="$(find prism_example)/config/prism_octree.yaml"/>
      </node>

    </group>

  </group>

</launch>
